/* Estilos exclusivos do modo Boomer */
body.modo-boomer {
  background-color: #1a1a1a;
}

body.modo-boomer #selected-mobile {
  color: #ffcc00;
  text-shadow: 0 0 10px #ffcc00;
}

body.modo-boomer .info-panel {
  border: 2px solid #ffcc00;
  box-shadow: 0 0 12px #ffcc00;
}
